<!DOCTYPE html> 
<html> 
  
<head> 

    <title>Alerts form</title> 
</head> 
  
<body> 
    <h1>Generate Trigger</h1> 

    <form method="post" action="/ledata"> 
       
        <pre> 
            Alert Name: <input name="alertname" id="alertname"/>
            <br>
             Statistical Method:  <select name="stm" id="stm" multiple>
             <option>max</option>
             <option>min</option>
             <option>count</option>
             <option>avg</option>
             <option>last</option>
             <option>len</option>
             <option>sum</option>
            </select>
            <br>
              Threshold : <input name="thresh" id="thresh"/>
              <br>
             Review Period: 
             <input name="number" id="number"/>
             <select name="rP" id="rP" multipl> 
             <option>d</option>
             <option>w</option>
             <option>m</option>
             <option>y</option>
             </select>
             <br>
            
             Operator: <select name="oPerator" id="oPerator">
             <option><</option>
             <option>></option>
             <option>=</option>
            </select>
            <br>
            Edge Type : <select name="edgetype" id="edgetype" multiple>
                <option>Mobile</option>
                <option>Mid</option>
                <option>Static</option>
                </select>
                <br>
            EdgeId : <select name="Edge" id="edges" multiple>
                <option value=""></option>
                <option value="wildcard(*)">ALL</option>
                <%
              
                var options = docs.EdgeId;
               
                for ( var i = 0; i < options.length; i++ )
                {
                    var selected = ( options[0].edges == i ) ? "selected" : "";
                    %>
                    
                    <option value="<%=options[i] %>" <%=selected %>><%=options[i] %></option><%
                }
                %>
                </select>
                <br>
            
            
            DP NAME    : <select name="DP" id="dp" multiple>
                <option value=""></option>
                <option value="wildcard(*)">ALL</option>
                <%
              
                var options = docs.DpName;
               
                for ( var i = 0; i < options.length; i++ )
                {
                    var selected = ( options[0].dp == i ) ? "selected" : "";
                    %><option value="<%=options[i] %>" <%=selected %>><%=options[i] %></option><%
                }
                %>
                </select> <br>

            Verticals    : <select name="vertical" id="vertical" multiple>
                <option value=""></option>  
                <option value="wildcard(*)">ALL</option>
                <%
              
                var options = docs.Vertical;
               
                for ( var i = 0; i < options.length; i++ )
                {
                    var selected = ( options[0].vertical == i ) ? "selected" : "";
                    %><option value="<%=options[i] %>" <%=selected %>><%=options[i] %></option><%
                }
                %>
                </select> <br> 
  
            City     : <select name="city" id="city"  multiple>
                <option value=""></option>
                <option value="wildcard(*)">ALL</option>
                <%
              
                var options = docs.City;
               
                for ( var i = 0; i < options.length; i++ )
                {
                    var selected = ( options[0].city == i ) ? "selected" : "";
                    %><option value="<%=options[i] %>" <%=selected %>><%=options[i] %></option><%
                }
                %>
                </select> <br> 
            
  
            State   : <select name="state" id="state" multiple>
                <option value=""></option>
                <option value="wildcard(*)">ALL</option>
                <%
              
                var options = docs.States;
               
                for ( var i = 0; i < options.length; i++ )
                {
                    var selected = ( options[0].state == i ) ? "selected" : "";
                    %><option value="<%=options[i] %>" <%=selected %>><%=options[i] %></option><%
                }
                %>
                </select> <br> 
  
            Reach : <select name="reach" id="reach" multiple>
                <option value=""></option>
                <option value="wildcard(*)">ALL</option>
                <%
              
                var options = docs.Reach;
               
                for ( var i = 0; i < options.length; i++ )
                {
                    var selected = ( options[0].reach == i ) ? "selected" : "";
                    %><option value="<%=options[i] %>" <%=selected %>><%=options[i] %></option><%
                }
                %>
                </select>
            <br> 
          
            
            <button type="submit" value="save">SUBMIT</button>
          
        </pre>     
    </form> 


</body> 
  
</html> 